<%= render 'header',
            image: @expense.category.image,
            small: "Your",
            large: "Expense!" %>

<div class=container">
    <div class="col-8 offset-2">
        <div class="row bg-secondary px-5 py-5 rounded">
            <%= render 'form', expense: @expense %>
        </div>
    </div>
</div>