<%= render 'header',
            image: 'money-mouth-face.png',
            small: "Enter your ",
            large: "Expense!" %>

<%# <h1>New Expense</h1> %>

<div class="container">
    <div class="col-8 offset-2">
        <div class="row bg-secondary px-5 py-5 rounded">
            <div>
                <%= render 'form', expense: @expense %>
            </div>
        </div>
    </div>
</div>
