.overview__image {
    width: 40px;
    height: auto;
    cursor: pointer;  
    transition: transform 0.4s ease;
    &:hover{
         transform: scale(1.10);
    }
}

.category__btn-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
}

.category__btn-fixed {
    margin-top: -30px;
    img {
        width: 60px;
    }
}

.category__btn-add{
    transition: transform 0.4s ease;
    &:hover{
         transform: scale(1.25);
    }
}