.introduction__header{
	font-size: 35px;
    	@media screen  and (max-width: 600px) {
		font-size: 18px;
	}
}

.image{
    width: 100px;
    height: auto;
	animation: icon-spin 0.5s ease forwards;
}

.btn-back{
	left: 3%;
	top: 3%;
}

.header__btn-hover{
    transition: box-shadow 0.3s ease, transform 0.3s ease;
 &:hover{
    transform: scale(1.05);
 }
}


@keyframes icon-spin {
	0% {
		transform: rotate(0);
	}

	30% {
		transform: rotate(-10deg);
	}

	50% {
		transform: rotate(8deg);
	}

	70% {
		transform: rotate(-7deg);
	}

	100% {
		transform: rotate(0);
	}
}